/arch/arm64/ @guojinhui.liam @cuiyunhui
/arch/arm64/kvm/ @xieyongji @dengliang.1214 @fam.zheng
/arch/riscv/ @cuiyunhui @guojinhui.liam
/arch/x86/ @weiguixiong @cuiyunhui @guojinhui.liam
/arch/x86/kernel/cpu/mce/ @qirui.001 @zhaozhengyu
/arch/x86/kvm/ @xieyongji @dengliang.1214 @fam.zheng
/arch/x86/mm/ @lizhe.67 @weiguixiong
/crypto/ @weiguixiong
/security/ @weiguixiong
/fs/ @vishal.saraswat @xieyongji @chenying.kernel @yinxin.x @hanjinke.666
/block/ @xieyongji @chenying.kernel @yinxin.x @hanjinke.666
/kernel/ @zhouchengming @zhengqi.arch @ligang.bdlg @qirui.001
/kernel/sched/ @zhouchengming @chenying.kernel @zhouchuyi @jiahao.os
/kernel/livepatch/ @zhouchengming @qirui.001 @cuiyunhui
/kernel/cgroup/ @zhouchengming @maxing.lan
/kernel/bpf/ @wangdongdong.6 @cong.wang @zhoufeng.zf @huangjie.albert @zhangyuchen.lcr
/kernel/events/ @maxing.lan @huangjie.albert
/tools/perf/ @ligang.bdlg @maxing.lan @huangjie.albert
/mm/ @zhengqi.arch @vishal.saraswat @ligang.bdlg @lizhe.67
/mm/damon/ @zhangyuchen.lcr @hezhongkun.hzk
/mm/memory-failure.c @qirui.001 @zhaozhengyu
/net/ @cong.wang @bobby.eshleman @peilin.ye @wangdongdong.6 @chenwei.0515
/virt/ @xieyongji @dengliang.1214 @fam.zheng
/drivers/ @guojinhui.liam @cuiyunhui
/drivers/acpi/apei/ @qirui.001 @zhaozhengyu
/drivers/block/ @yinxin.x
/drivers/char/ipmi/ @zhangyuchen.lcr
/drivers/crypto/ @weiguixiong
/drivers/cxl/ @zhangyuchen.lcr
/drivers/edac/ @qirui.001 @zhaozhengyu
/drivers/iommu/ @guojinhui.liam
/drivers/misc/cxl/ @zhangyuchen.lcr
/drivers/net/ @wangdongdong.6 @chenwei.0515
/drivers/pci/ @guojinhui.liam @cuiyunhui
/drivers/perf/ @huangjie.albert
/drivers/ras/ @qirui.001
/drivers/virtio/ @xieyongji @dengliang.1214 @fam.zheng @huangjie.albert
/drivers/vdpa/ @xieyongji @fam.zheng
/drivers/vfio/ @xieyongji @fam.zheng @dengliang.1214 @guojinhui.liam
/drivers/vhost/ @xieyongji @cong.wang @fam.zheng @dengliang.1214
/drivers/dax/ @xieyongji
